{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block custom_css %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@900&display=swap"
    rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<header class="header">
  <div class="pollpoint__heading">
      <div class="PollPoint">
          KreatePoll
      </div>
  </div>
  <div class="nav__links">
      <div class="nav__link home">
          <a href="{% url 'home' %}">HOME</a>
      </div>
      <div class="nav__link">
          <a href="{% url 'polls:list' %}">POLLS</a>
      </div>
      <div class="nav__link">
          <a href="{% url 'polls:add' %}">ADD POLLS</a>
      </div>
      {% if request.user.is_authenticated %}
      <div class="nav__link">
          <a href="{% url 'polls:userpolls_list' %}">MYPOLLS</a>
      </div>
      {% endif %}
  </div>

  <div class="btns--header">
    {% if request.user.is_authenticated %}
    <a href="{% url 'accounts:logout' %}"><button class="login--btn login__signup" style="margin-right: 10px; margin-bottom: 10px;font-family: 'Lato', sans-serif;font-weight: 700;">LOGOUT</button></a>
    {% else %}
    <a href="{% url 'accounts:login' %}"><button class="login--btn login__signup"  style="margin-right: 10px; margin-bottom: 10px;font-family: 'Lato', sans-serif;font-weight: 700;">LOGIN</button></a>
    <a href="{% url 'accounts:register' %}" style="margin-left: 20px;margin-bottom: 10px;"><button class="login__signup" style="font-family: 'Lato', sans-serif;font-weight: 700;">SIGN UP</button></a>
    {% endif %}
  </div>
  <div class="hamburger">
      <div class="ham"></div>
      <div class="ham"></div>
      <div class="ham"></div>
  </div>
</header>
<div class="headerSpace">
</div>
    <section class="mainImage">
        <button class="left btn__style">
            < </button>
                <div class="img">
                    <img class="imagesss" src="{% static 'images/6.jpg' %}" style="transform: translateX(0%)" alt="here">
                    <img class="imagesss" src="{% static 'images/10.jpg' %}" style="transform: translateX(100%)" alt="here">
                    <img class="imagesss" src="{% static 'images/8.jpg' %}" style="transform: translateX(200%)" alt="here">
                    <img class="imagesss" src="{% static 'images/9.jpg' %}" style="transform: translateX(300%)" alt="here">
                </div>
                <button class="right btn__style">></button>
                <h1 class="pollpoint__main"style="left: 31%;">KreatePoll</h1>
                <h3 class="subhead">A Customizable Poll Creation Application</h3>
                <a href="{% url 'polls:add' %}"><button class="login__signup voteNow__btn">START</button></a>
    </section>
    <section class="section section--0 section--hidden">
        <h1 class="section--0_head">Create, customize and deploy your own poll!</h1>
        <div class="section--0_inner">
            <div class="section--0_content">
                The best polling website you will find on the internet today. As you know there is an ongoing pandemic
                in whole world then the intraction between people would increase if the voting held in public so we
                found a
                way to give votes online without any difficulties.In this website you can only vote if a person having
                email and it will get verified first then you will be able to vote or signin using google.
            </div>
            <div class="section--0_img">

            </div>
        </div>
    </section>
    <section class="section section--1 section--hidden">
        <div class="clippy-path">
            <div class="labels">
                <h1>Create/Edit</h1>
                <p>You can create your own poll on this website, this website allows you to create as many poll you
                    want and customize.</p>
            </div>
            <div class="labels">
                <h1>Secured</h1>
                <p>A person is allowed to vote or create only when he/she is logged in. No annonemys votes!</p>
            </div>
            <div class="labels">
                <h1>Results</h1>
                <p>See results right away after submitting your vote and percentage of total votes are also shown.</p>
            </div>
        </div>
    </section>
    <section class="section section--2 section--hidden">
        <h1 class="section--2_head">Sign up now and get started...</h1>
    </section>
    <footer>
        <section class="section section--4 section--hidden">
            {% if request.user.is_authenticated %}
            <h1 class="section--4_head" style="padding-top: 3em;" >The Best day to vote was yesterday, the second best is today.</h1>
            {% else %}
            <h1 class="section--4_head">The Best day to vote was yesterday, the second best is today.</h1>
            <a href="{% url 'accounts:logout' %}"><button class="login__signup section--4_login">LOGIN</button></a>
            {% endif %}
            <p>© Copyright issued by Team elif | 2021</p>
        </section>
    </footer>
{% endblock %}