{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block custom_css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

<style>
    body{
        background-color: black;
        color:white
    }
    .container{
        border: 0.05em solid red;
        margin:2em auto;
        padding:2em;
        background-color: black
        color:white;
    }

</style>
{% endblock %}
{% block title %}
 Password reset complete
{% endblock title %}


{% block content %}
  

  <div class="container">
    Your password has been set.
    <a class="mx-4" href="{% url 'accounts:login' %}">Click to login</a>
</div>

    
{% endblock %}